@{
    ViewBag.Title = "TraCuuDon";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2 class="tracuu">Tra cứu đơn hàng</h2>

@using (Html.BeginForm("TraCuuDon", "TraCuuDon", FormMethod.Post, new { @class = "form_tracuu" }))
{
    <div>
        <label class="lb_sdt" for="phoneNumber">Nhập số điện thoại:</label>
        <input class="ip_sdt" type="text" id="phoneNumber" name="phoneNumber" required
               pattern="^\d{10}$"  maxlength="10" title="Số điện thoại phải là 10 chữ số." />
    </div>
    <button class="btn_submit" type="submit">Tra cứu</button>

}
@if (ViewBag.Message != null)
{
    <div class="error1">@ViewBag.Message</div>
}


<style>
    /* Tiêu đề Tra cứu */
    .tracuu {
        text-align: center;
        color: #333;
        font-size: 32px;
        margin-top: 30px;
    }

    /* Form tra cứu */
    .form_tracuu {
        width: 50%;
        margin: 30px auto;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Label nhập số điện thoại */
    .lb_sdt {
        font-size: 18px;
        color: #555;
        margin-bottom: 8px;
        display: block;
    }

    /* Input số điện thoại */
    .ip_sdt {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

        .ip_sdt:focus {
            border-color: #4CAF50;
            outline: none;
        }
    /* Nút Tra cứu */
    .btn_submit {
        background-color: #e30119;
        color: white;
        font-size: 18px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
    }

        .btn_submit:hover {
            background-color: #45a049;
        }
    /* Thông báo lỗi */
    .form_tracuu .error1 {
        color: red;
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
</style>
